*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:rgb(41, 160, 92);
}
.container {
    max-width: 700px;
    width: 100%;
    background: whitesmoke;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin: 10px;
}
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 10px 0px;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}  
.user-details .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 15px;
    font-size: 15;
}

.user-details .input-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .button {
    height: 45px;
    margin: 45px 0px;
}
form .button input {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 100%;
    width: 100%;
    color: #fff;
    border: none;
    background: green;
    border-radius: 5px;
}
p {
    margin-bottom: 10px;
}